body {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h1 {
    color: black;
}
.header {
    font-size: 55px;
}
#sec1 {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 20px 0px;
}